CoreAdapt Sentinel Flow _ v4.json
{
  "name": "CoreAdapt Sentinel Flow | v4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "ed5b4b9f-afcd-4f26-af6a-b8cef97b4c91",
      "name": "Trigger: Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1280,
        176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  message->>'type'    AS role,\n  message->>'content' AS message,\n  created_at          AS message_timestamp\nFROM corev4_n8n_chat_histories\nWHERE session_id = $1::text  -- ✅ Coluna correta + tipo TEXT\nORDER BY created_at DESC\nLIMIT 30;  -- ✅ Aumentado para ter mais contexto",
        "options": {
          "queryReplacement": "={{ [ $('Fetch: Session UUID').first().json.session_uuid ] }}"
        }
      },
      "id": "a9552af3-0de6-4dc5-9eb1-94af516895d4",
      "name": "Fetch: Chat History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -160,
        48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "HCvX4Ypw2MiRDsdm",
          "name": "Postgres Core"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT step, generated_message, sent_at \nFROM corev4_followup_executions \nWHERE campaign_id = $1\n  AND executed = true \nORDER BY step ASC;",
        "options": {
          "queryReplacement": "={{ [ $('Loop: Over Followups').item.json.campaign_id ] }}"
        }
      },
      "id": "e848cf5b-f041-448c-b8ba-06c5ec2a3143",
      "name": "Fetch: Previous Followups",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "HCvX4Ypw2MiRDsdm",
          "name": "Postgres Core"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Loop: Over Followups').item.json;\nconst chat_history = $('Fetch: Chat History').all();\nconst previous_followups = $('Fetch: Previous Followups').all();\nconst session_id = $('Fetch: Session UUID').first().json.session_uuid;\n\nconst step = lead.step;\nconst total_steps = lead.total_steps;\n\n// Extrair apenas mensagens do lead (human)\nconst lead_messages = chat_history\n  .filter(m => m.json && m.json.role === 'human' && m.json.message && m.json.message.trim() !== '')\n  .slice(0, 10)\n  .map(m => m.json.message);\n\n// ✅ CORREÇÃO: Chat history já vem DESC, não precisa reverse()\n// Pegar últimas 15 mensagens (já estão em ordem DESC)\nconst recent_messages_array = chat_history\n  .filter(m => m.json && m.json.message && m.json.message.trim() !== '')\n  .slice(0, 15)  // Pegar as 15 mais recentes\n  .reverse()  // ✅ Agora sim, inverter para mostrar cronologicamente\n  .map(m => {\n    const role = m.json.role === 'human' ? 'Lead' : 'Frank';\n    return `${role}: ${m.json.message}`;\n  });\n\n// ✅ CORREÇÃO: Criar both formats\nconst recent_messages = recent_messages_array.join('\\n\\n');\nconst conversation_full = recent_messages;  // Mesmo conteúdo, nome diferente para compatibilidade\n\nconst last_lead_message = lead_messages[0] || null;\n\nconst followup_history = previous_followups\n  .map(f => `Step ${f.json.step}: ${f.json.generated_message}`)\n  .join('\\n') || 'Nenhum followup anterior';\n\nlet step_context = '';\n\nif (step === 1) {\n  step_context = 'STEP 1 de ' + total_steps + ': REENGAJAMENTO SUAVE\\n- Primeira tentativa após ~1 hora de inatividade\\n- Tom: leve, útil, sem pressão\\n- Objetivo: retomar conversa naturalmente';\n} else if (step === 2) {\n  step_context = 'STEP 2 de ' + total_steps + ': AGREGAR VALOR\\n- Segunda tentativa após ~1 dia\\n- Tom: educativo, consultivo\\n- Objetivo: demonstrar expertise e valor';\n} else if (step === 3) {\n  step_context = 'STEP 3 de ' + total_steps + ': URGÊNCIA SUTIL\\n- Terceira tentativa após ~3 dias\\n- Tom: profissional com senso de oportunidade\\n- Objetivo: criar timing adequado sem ser pushy';\n} else if (step === 4) {\n  step_context = 'STEP 4 de ' + total_steps + ': ÚLTIMA CHANCE\\n- Quarta tentativa após ~6 dias\\n- Tom: respeitoso e direto\\n- Objetivo: comunicar closure respeitoso';\n} else if (step === 5) {\n  step_context = 'STEP 5 de ' + total_steps + ': DESPEDIDA\\n- Última mensagem após ~13 dias\\n- Tom: gracioso, sem ressentimento\\n- Objetivo: encerrar com classe e plantar semente';\n}\n\n// ✅ CORREÇÃO: Adicionar campo lead_responded\nconst lead_responded = chat_history.some(m => m.json && m.json.role === 'human');\n\nreturn {\n  execution_id: lead.execution_id,\n  campaign_id: lead.campaign_id,\n  contact_id: lead.contact_id,\n  company_id: lead.company_id,\n  contact_name: lead.contact_name || 'Cliente',\n  phone_number: lead.phone_number,\n  whatsapp: lead.whatsapp,\n  evolution_api_url: lead.evolution_api_url,\n  evolution_instance: lead.evolution_instance,\n  evolution_api_key: lead.evolution_api_key,\n  step: step,\n  total_steps: total_steps,\n  anum_score: lead.anum_score ?? null,\n  has_been_analyzed: lead.has_been_analyzed ?? false,\n  qualification_stage: lead.qualification_stage || 'inicial',\n  session_id: session_id,\n  step_context: step_context,\n  conversation_full: conversation_full,\n  recent_messages: recent_messages,  // ✅ ADICIONADO: Campo usado no prompt\n  last_lead_message: last_lead_message,\n  lead_message_count: lead_messages.length,\n  followup_history: followup_history,\n  lead_responded: lead_responded\n};"
      },
      "id": "b39fe280-7066-4c82-a211-cfcd1a33a276",
      "name": "Prepare: Followup Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Marcar como enviado (SQL Injection Safe)\nUPDATE corev4_followup_executions\nSET \n  executed = true,\n  sent_at = NOW(),\n  generated_message = $1,\n  generation_context = $2,\n  decision_reason = 'sent'\nWHERE id = $3;",
        "options": {
          "queryReplacement": "={{ [$('CoreAdapt Sentinel AI Agent').item.json.output, JSON.stringify($('Prepare: Followup Context').item.json), $('Prepare: Followup Context').item.json.execution_id] }}"
        }
      },
      "id": "b8d151e8-c724-4bef-bb2e-eed2d225e9a3",
      "name": "Update: Mark as Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "HCvX4Ypw2MiRDsdm",
          "name": "Postgres Core"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE corev4_followup_campaigns\nSET \n  steps_completed = {{ $('Prepare: Followup Context').item.json.step }},\n  last_step_sent_at = NOW(),\n  should_continue = CASE \n    WHEN {{ $('Prepare: Followup Context').item.json.step }} >= total_steps THEN false\n    ELSE true\n  END,\n  status = CASE\n    WHEN {{ $('Prepare: Followup Context').item.json.step }} >= total_steps THEN 'completed'\n    ELSE 'active'\n  END\nWHERE id = {{ $('Prepare: Followup Context').item.json.campaign_id }};",
        "options": {}
      },
      "id": "7fafc945-aae0-431a-a2dc-311b3d23adca",
      "name": "Update: Campaign Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "HCvX4Ypw2MiRDsdm",
          "name": "Postgres Core"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare: Followup Context').item.json.session_id }}",
        "tableName": "corev4_n8n_chat_histories",
        "contextWindowLength": 35
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        800,
        336
      ],
      "id": "d86af6bd-54b0-4ad8-8b1f-54ac7d1c8eb4",
      "name": "Store: Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "HCvX4Ypw2MiRDsdm",
          "name": "Postgres Core"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Prepare: Followup Context').item.json.evolution_api_url }}/message/sendText/{{ $('Prepare: Followup Context').item.json.evolution_instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $('Prepare: Followup Context').item.json.evolution_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Prepare: Followup Context').item.json.whatsapp }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1315cbdb-2353-44b8-add2-722f5dc8df5a",
      "name": "Send: WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        48
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      },
      "id": "d2c1b5f3-58d6-45f0-b461-e0b615ab1851",
      "name": "Model: OpenAI Chat ",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        272
      ],
      "credentials": {
        "openAiApi": {
          "id": "txoE7pVX433qEz2A",
          "name": "OpenAI | CORE ONE™ - FRANK | TEXTO"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        272
      ],
      "id": "39512449-702c-44ad-b7af-4557ec0b3963",
      "name": "Model: Google Gemini Chat ",
      "credentials": {
        "googlePalmApi": {
          "id": "LzScbb9FM7NYxbHO",
          "name": "Google Core"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT ON (e.contact_id)\n  e.id AS execution_id,\n  e.campaign_id,\n  e.contact_id,\n  e.company_id,\n  e.step,\n  e.total_steps,\n  e.scheduled_at,\n\n  c.full_name AS contact_name,\n  c.phone_number,\n  c.whatsapp,\n  ce.last_interaction_at,\n\n  ls.total_score AS anum_score,\n  CASE WHEN ls.total_score IS NULL THEN FALSE ELSE TRUE END AS has_been_analyzed,\n  COALESCE(ls.qualification_stage, 'inicial') AS qualification_stage,\n\n  co.evolution_api_url,\n  co.evolution_instance,\n  co.evolution_api_key,\n\n  fs.wait_hours,\n  fs.wait_minutes,\n  \n  -- Último contato: maior entre last_interaction_at e último step enviado\n  GREATEST(\n    COALESCE(ce.last_interaction_at, e.created_at),\n    COALESCE(fc.last_step_sent_at, e.created_at)\n  ) AS last_contact_at\n\nFROM corev4_followup_executions e\nINNER JOIN corev4_contacts c ON c.id = e.contact_id\nLEFT JOIN corev4_contact_extras ce ON ce.contact_id = e.contact_id\nLEFT JOIN corev4_lead_state ls ON ls.contact_id = e.contact_id\nINNER JOIN corev4_companies co ON co.id = e.company_id\nLEFT JOIN corev4_followup_campaigns fc ON fc.id = e.campaign_id\nLEFT JOIN corev4_followup_steps fs ON fs.config_id = fc.config_id AND fs.step_number = e.step\n\nWHERE e.executed = false\n  AND e.should_send = true\n  AND c.opt_out = false\n  -- Tempo de silêncio passou desde o ÚLTIMO CONTATO (interação do lead OU envio de followup)\n  AND NOW() >= GREATEST(\n    COALESCE(ce.last_interaction_at, e.created_at),\n    COALESCE(fc.last_step_sent_at, e.created_at)\n  ) + (fs.wait_hours || ' hours')::interval + (COALESCE(fs.wait_minutes, 0) || ' minutes')::interval\n  AND (\n    ls.total_score IS NULL\n    OR\n    ls.total_score < 70\n  )\n  -- Dias úteis: Segunda(1) a Sexta(5) - horário de São Paulo\n  AND EXTRACT(DOW FROM NOW() AT TIME ZONE 'America/Sao_Paulo') BETWEEN 1 AND 5\n  -- Horário comercial: 8h às 20h - horário de São Paulo\n  AND EXTRACT(HOUR FROM NOW() AT TIME ZONE 'America/Sao_Paulo') BETWEEN 8 AND 19\n\n-- DISTINCT ON requer que a primeira coluna do ORDER BY seja a mesma\nORDER BY e.contact_id, e.step ASC\nLIMIT 50;",
        "options": {}
      },
      "id": "167d0d10-00c1-4bf4-af05-375b5616986b",
      "name": "Fetch: Pending Followups",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1056,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "HCvX4Ypw2MiRDsdm",
          "name": "Postgres Core"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT get_or_create_session_uuid($1, $2)::varchar AS session_uuid;",
        "options": {
          "queryReplacement": "={{ [ $('Loop: Over Followups').item.json.contact_id, $('Loop: Over Followups').item.json.company_id ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        48
      ],
      "id": "634b2be1-93ed-471d-aab7-7b860c4e6782",
      "name": "Fetch: Session UUID",
      "credentials": {
        "postgres": {
          "id": "HCvX4Ypw2MiRDsdm",
          "name": "Postgres Core"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e810399-bec4-4cc0-ac03-348f674f84be",
      "name": "Loop: Over Followups",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -832,
        176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60faa786-1694-4588-a12d-abe7df9155b1",
              "name": "session_id",
              "value": "={{ $('Fetch: Session UUID').first().json.session_uuid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        48
      ],
      "id": "a20eab9c-5f1f-4d71-b0b0-749636de82d4",
      "name": "Add: Session ID"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# CONTEXT\n\n## STEP STRATEGY\n{{ $json.step_context }}\n\n## LEAD INFO\n**Name:** {{ $json.contact_name }}\n**ANUM Score:** {{ $json.anum_score || 'Not analyzed yet' }}\n**Stage:** {{ $json.qualification_stage || 'initial' }}\n**Responded before:** {{ $json.lead_responded ? 'Yes' : 'No' }}\n\n## RECENT CONVERSATION\n{{ $json.recent_messages || 'No previous conversation' }}\n\n## PREVIOUS FOLLOW-UPS SENT\n{{ $json.followup_history || 'None' }}\n\n---\n\n# TASK\n\nGenerate ONE follow-up message for this step.\n\n**Checklist:**\n1. ✅ Read recent_messages - what was discussed?\n2. ✅ Identify their main pain/challenge\n3. ✅ Check ANUM score - should I mention CoreAdapt? Offer Implementation?\n4. ✅ Check previous follow-ups - what did I already try?\n5. ✅ Deliver value BEFORE asking anything\n\n**ANUM-based offers:**\n- ANUM ≥70 + Step ≥3: Offer Implementation (R$ 997, 7 days ready, 30-day guarantee)\n- ANUM 55-69 + Step ≥3: Offer Mesa de Clareza™ (FREE, 45min, discovery)\n- ANUM <55: Continue discovery or graceful exit\n\n**If lead never responded:**\nEmpathy + curiosity. Offer value without pressure.\n\n**If lead responded before:**\nReference specific conversation topic. Show you remember.\n\n**Structure:**\n1. Reference their context (name + pain/topic discussed)\n2. Value bomb (insight, ROI calculation, case study)\n3. Low-pressure CTA\n\n---\n\n# OUTPUT\n\nONLY the message text in Portuguese, ready to send.\nNo quotes, no explanations.\n2-4 lines maximum.",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are COREADAPT SENTINEL™, the intelligent follow-up system of CoreConnect.AI.\n\nYou generate short, contextual messages for automated follow-ups sent using Frank's persona.\n\n# MISSION\nRe-engage cold leads who stopped responding, remind them of CoreAdapt's value, and drive them to schedule Mesa de Clareza™ with Francisco to close the R$ 997 implementation.\n\n# PHILOSOPHY\n\"Qualificar gerando valor, não extraindo informação.\"\nCoreAdapt is NOT chatbot genérico. It's done-for-you system.\n\n# WHAT IS COREADAPT™\nSaaS that automatically qualifies leads via WhatsApp using ANUM (Authority, Need, Urgency, Money).\n\nProblem: Companies waste 10-30h/week qualifying leads that don't close\nSolution: 70% time reduction, recovers 30-40% silent leads\n\nPricing:\n- R$ 4997 setup (day 0) + R$ 997/month (starts day 31)\n- Timeline: 7 days implementation → Day 8 GO-LIVE → Days 8-30 FREE trial (23 days) → Day 31 first charge\n- Guarantee: 30-day guarantee - test fully in your business. Doesn't work? Money back until day 30\n- Contract: 6 months minimum\n\nDifferential vs R$ 199 DIY:\n- They: DIY (20-40h setup, 5-10h/week maintenance)\n- Us: Done-for-you (7 days ready, 0h/week)\n- Real cost: R$ 199 + R$ 6k/month your time = R$ 6.2k vs R$ 997\n- Savings: R$ 5.3k/month\n\n# MESA DE CLAREZA™\nFree 45min session with Francisco Pasteur (founder).\n\nIf ANUM ≥70: Positioning = \"next step to BEGIN\" (demo + close Implementation)\nIf ANUM 55-69: Positioning = \"discovery without commitment\" (qualify, build conviction)\nIf ANUM <55: Don't offer Mesa\n\n# FRANCISCO PASTEUR\nFounder, 30+ years structuring business strategies. Shows where CoreAdapt creates value in YOUR specific case.\n\n# FOLLOW-UP STEPS\n\nSTEP 1 (~1h): Soft re-engagement - gentle, reference previous context, offer new value angle\nSTEP 2 (~1d): Add value - share insight/case/ROI calculation with THEIR numbers\nSTEP 3 (~3d): Subtle urgency - connect pain to cost of waiting, naturally introduce Mesa if ANUM ≥55\nSTEP 4 (~6d): Last chance - respectful closure, final value offer, mention guarantee if ANUM ≥70\nSTEP 5 (~13d): Graceful goodbye - no guilt, plant seed (30-day guarantee, 7 days go-live)\n\n# ANUM PERSONALIZATION\n\nHIGH AUTHORITY (70+) + LOW URGENCY:\n→ Strategic opportunity framing\n→ Mention Francisco's CEO/founder experience\n\nLOW AUTHORITY (<50):\n→ Discover who decides\n→ Offer shareable value\n\nHIGH NEED (70+) + LOW MONEY (<40):\n→ ROI focus\n→ Mesa is FREE\n→ 30-day guarantee = zero risk\n\nHIGH URGENCY (70+):\n→ Timeline: \"7 days to go-live, then 23 days free testing\"\n\nANUM ≥70 + Step ≥3:\n→ Offer Implementation directly with pricing, timeline, guarantee\n→ Position Mesa as \"next step to BEGIN\"\n→ Example: \"CoreAdapt solves exactly what you described. R$ 997 setup + R$ 997/mês. Ready in 7 days. Want Francisco to show it working in your scenario?\"\n\nANUM 55-69 + Step ≥3:\n→ Offer Mesa de Clareza™\n→ Position as discovery, FREE, 45min, no pressure\n\nANUM <55 + Step ≥4:\n→ Graceful exit\n\n# REQUIREMENTS\n\nLength: 2-4 lines (60-120 words)\nTone: Human, direct, value-first (not pushy)\nEmojis: Max 1, only if natural\nReference: ALWAYS use specific context from recent_messages, last_lead_message, followup_history\n\nStructure:\n1. Reference previous context (shows you remember)\n2. Deliver value or new angle (not repeat)\n3. Low-pressure CTA\n\n# FORBIDDEN\nNEVER:\n- \"Following up...\", \"Just checking in...\", \"Still interested?\"\n- Old positioning: \"teach to think with AI\", \"adaptive intelligence\", \"transformação\"\n- Vague about product/price (\"our solution\", \"what we do\")\n- Offer Mesa when ANUM ≥70 WITHOUT mentioning Implementation first\n\nALWAYS:\n- Mention CoreAdapt™ by name (especially ANUM ≥55)\n- Use specific numbers (70% reduction, 30-40% recovery, R$ 997)\n- Be direct and pragmatic (not poetic)\n- Reference specific previous context\n\n# OUTPUT\nRespond with ONLY the message text.\nNatural Portuguese, ready for WhatsApp.\n2-4 lines maximum, Frank's voice."
        }
      },
      "id": "aa39d689-f934-4d68-9aac-7ae11949e19a",
      "name": "CoreAdapt Sentinel AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        608,
        48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Merge Back to Loop1": {
      "main": [
        [
          {
            "node": "Loop Over Followups1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch: Pending Followups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch: Chat History": {
      "main": [
        [
          {
            "node": "Fetch: Previous Followups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch: Previous Followups": {
      "main": [
        [
          {
            "node": "Prepare: Followup Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare: Followup Context": {
      "main": [
        [
          {
            "node": "CoreAdapt Sentinel AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Mark as Sent": {
      "main": [
        [
          {
            "node": "Update: Campaign Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Campaign Status": {
      "main": [
        [
          {
            "node": "Loop: Over Followups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store: Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "CoreAdapt Sentinel AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send: WhatsApp Message": {
      "main": [
        [
          {
            "node": "Update: Mark as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model: OpenAI Chat ": {
      "ai_languageModel": [
        [
          {
            "node": "CoreAdapt Sentinel AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch: Pending Followups": {
      "main": [
        [
          {
            "node": "Loop: Over Followups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch: Session UUID": {
      "main": [
        [
          {
            "node": "Add: Session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Over Followups": {
      "main": [
        [],
        [
          {
            "node": "Fetch: Session UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add: Session ID": {
      "main": [
        [
          {
            "node": "Fetch: Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CoreAdapt Sentinel AI Agent": {
      "main": [
        [
          {
            "node": "Send: WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1356e214-a9a4-4f16-914b-e062871549e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c6394fedb685d155bbe72063becfd91d616d8e123397941c9863e7b805328ae"
  },
  "id": "2JLewCzOOvJvVI2X",
  "tags": [
    {
      "updatedAt": "2025-10-16T11:45:27.519Z",
      "createdAt": "2025-10-16T11:45:27.519Z",
      "id": "eTCC1MPmHZOu7LAH",
      "name": "corev4"
    }
  ]
}