Fluxo - Disparar List Validation v2 (AI).json
{
  "name": "Fluxo - Disparar List Validation v2 (AI)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7132e70-4250-475b-bf40-ed7ac61c7899",
              "name": "apiURL",
              "value": "https://evo2.bloomshield.com.br",
              "type": "string"
            },
            {
              "id": "351cc788-92d0-4343-bd0f-9864d07ec125",
              "name": "instancia",
              "value": "={{ $env.EVOLUTION_INSTANCE || 'CoreConnect-Teste' }}",
              "type": "string"
            },
            {
              "id": "ce0b94fb-9047-4faa-8806-b8917b85b19c",
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY || '51F114E1086C-4C42-AF0B-FB4ACE467B54' }}",
              "type": "string"
            },
            {
              "id": "672f9d43-96cd-402b-8357-d5fe0153da06",
              "name": "qtdDisparos",
              "value": "50",
              "type": "string"
            },
            {
              "id": "586aea30-77cb-4435-9f60-6e2a4914d071",
              "name": "diasFollow",
              "value": "2",
              "type": "string"
            },
            {
              "id": "50711571-3e82-46f9-9912-1620c29c278f",
              "name": "notionDB",
              "value": "2dfe2463c2b0813e9277f070c1750729?v=2dfe2463c2b081dc8a54000cef5aa645",
              "type": "string"
            },
            {
              "id": "agent-name",
              "name": "agentName",
              "value": "Frank",
              "type": "string"
            },
            {
              "id": "company-name",
              "name": "companyName",
              "value": "CoreConnect",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4a7d6f03-6f7f-4656-9e33-2081d6e84342",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        1184
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8-17 * * 1-5"
            }
          ]
        }
      },
      "id": "cfd67ace-9144-4cbf-bf86-98114bb28226",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2768,
        1184
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $json.notionDB }}",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|status",
              "condition": "does_not_equal",
              "statusValue": "Lead Desqualificado"
            },
            {
              "key": "Status|status",
              "condition": "does_not_equal",
              "statusValue": "Disparo finalizado"
            },
            {
              "key": "Status|status",
              "condition": "does_not_equal",
              "statusValue": "Em qualificação"
            },
            {
              "key": "Status|status",
              "condition": "does_not_equal",
              "statusValue": "Reunião Agendada"
            },
            {
              "key": "Status|status",
              "condition": "does_not_equal",
              "statusValue": "Opt-Out"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "Data do último disparo|date",
                "direction": "ascending"
              }
            ]
          }
        }
      },
      "id": "7ccfd0a9-8e09-4ea1-a436-dc040357ff29",
      "name": "Puxa todos os leads",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -2336,
        1184
      ],
      "credentials": {
        "notionApi": {
          "id": "scQiezJ9I3bkqgcl",
          "name": "Notion | CoreConnect"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "591bca9f-cc79-43c9-86ce-604c6cfcf7cf",
              "leftValue": "={{ $json.property_status }}",
              "rightValue": "Lead",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d4b88cf1-b78a-466e-968a-2b018eb8f2ed",
              "leftValue": "={{ $json.property_status }}",
              "rightValue": "Follow-Up",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "e628f3d5-0e98-4b62-8d2d-66804f65d0b3",
              "leftValue": "={{ $json.property_status }}",
              "rightValue": "Follow-Up 2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "19a96746-1b79-461a-b0bf-5bb40d6cc00e",
              "leftValue": "={{ $json.property_status }}",
              "rightValue": "Follow-Up 3",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "909faa59-502c-456b-9812-3cd33ec0494f",
      "name": "Filtra leads ativos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2144,
        1184
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": "={{ $('Dados').item.json.qtdDisparos }}"
      },
      "id": "3134464e-cc47-4acf-876e-8391a8b9dd38",
      "name": "Limita Qtde Envios",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -1920,
        1152
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "260015b3-6ad1-4a7a-a702-5cfce5163758",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1696,
        1152
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normaliza telefone brasileiro para E.164\nconst raw = String($input.first().json.property_whats_app || '').replace(/[^0-9]+/g, '');\n\nlet ddi = '+55';\nlet ddd = '';\nlet numero = '';\nlet valido = false;\nlet formatado = 'Número inválido';\n\nif (raw.length >= 10 && raw.length <= 13) {\n  let phone = raw;\n  \n  // Remove DDI se presente\n  if (phone.startsWith('55') && phone.length > 11) {\n    phone = phone.slice(2);\n  }\n  \n  // Extrai DDD\n  ddd = phone.slice(0, 2);\n  numero = phone.slice(2);\n  \n  // Adiciona nono dígito se necessário\n  if (numero.length === 8) {\n    numero = '9' + numero;\n  }\n  \n  // Valida\n  if (numero.length === 9 && numero.startsWith('9')) {\n    valido = true;\n    formatado = `${ddi}${ddd}${numero}`;\n  }\n}\n\nreturn [{\n  json: {\n    ddi,\n    ddd,\n    numero,\n    valido,\n    whatsapp_formatado: formatado,\n    whatsapp_sem_mais: formatado.replace('+', '')\n  }\n}];"
      },
      "id": "15520f6c-5699-43ff-9a71-edffe93693a5",
      "name": "Normaliza Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        1248
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.apiURL }}/chat/whatsappNumbers/{{ $('Dados').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\n    \"{{ $json.whatsapp_sem_mais }}\"\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "db7d2a20-3371-44cf-b7d4-fc26ec9b0947",
      "name": "Valida WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        1248
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json[0]?.exists || $json.exists || false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "fe143904-61b4-4e48-b479-98395bfc0132",
      "name": "Tem WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1056,
        1248
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Loop').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Motivo da desqualificação|select",
              "selectValue": "WhatsApp Inválido"
            },
            {
              "key": "Status|status",
              "statusValue": "Lead Desqualificado"
            }
          ]
        },
        "options": {}
      },
      "id": "16c1e387-ffb2-49fe-b984-4ad66ac11ac0",
      "name": "Desqualifica Lead",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -784,
        1408
      ],
      "credentials": {
        "notionApi": {
          "id": "scQiezJ9I3bkqgcl",
          "name": "Notion | CoreConnect"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-follow-interval",
              "leftValue": "={{ $('Loop').item.json.property_data_do_ltimo_disparo?.start }}",
              "rightValue": "={{ $now.minus($('Dados').item.json.diasFollow, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-interval",
      "name": "Passou intervalo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "// Monta contexto para o AI Agent gerar mensagem personalizada\nconst lead = $('Loop').item.json;\nconst dados = $('Dados').item.json;\nconst telefone = $('Normaliza Telefone').item.json;\n\n// Determina o estágio do funil\nconst status = lead.property_status || 'Lead';\nlet stage = 'first_touch';\nlet stageNumber = 1;\n\nswitch(status) {\n  case 'Lead':\n    stage = 'first_touch';\n    stageNumber = 1;\n    break;\n  case 'Follow-Up':\n    stage = 'follow_up_1';\n    stageNumber = 2;\n    break;\n  case 'Follow-Up 2':\n    stage = 'follow_up_2';\n    stageNumber = 3;\n    break;\n  case 'Follow-Up 3':\n    stage = 'follow_up_3';\n    stageNumber = 4;\n    break;\n}\n\n// Extrai dados do lead do Notion\nconst leadContext = {\n  name: lead.property_name || lead.title || 'Prezado(a)',\n  business_name: lead.property_empresa || lead.property_name || '',\n  business_type: lead.property_tipo_negocio || lead.property_segmento || '',\n  city: lead.property_cidade || '',\n  state: lead.property_estado || '',\n  rating: lead.property_rating || lead.property_avaliacao || '',\n  reviews: lead.property_reviews || lead.property_avaliacoes || '',\n  website: lead.property_website || lead.property_site || '',\n  site_summary: lead.property_resumo_site || lead.property_descricao || '',\n  source: lead.property_origem || 'Google Maps'\n};\n\n// Status para próxima etapa\nconst nextStatus = {\n  'Lead': 'Follow-Up',\n  'Follow-Up': 'Follow-Up 2',\n  'Follow-Up 2': 'Follow-Up 3',\n  'Follow-Up 3': 'Disparo finalizado'\n};\n\nreturn [{\n  json: {\n    leadContext,\n    stage,\n    stageNumber,\n    currentStatus: status,\n    nextStatus: nextStatus[status] || 'Disparo finalizado',\n    agentName: dados.agentName || 'Frank',\n    companyName: dados.companyName || 'CoreConnect',\n    whatsapp: telefone.whatsapp_sem_mais,\n    whatsapp_formatado: telefone.whatsapp_formatado,\n    leadId: lead.id\n  }\n}];"
      },
      "id": "prepare-context",
      "name": "Prepara Contexto IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        1088
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "temperature": 0.8,
          "maxTokens": 500
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -200,
        1280
      ],
      "credentials": {
        "openAiApi": {
          "id": "TkfL2732Ws1h0rnI",
          "name": "OpenAI | CORE ONE™ - FRANK | TEXTO"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é {{ $json.agentName }}, um especialista em automação e IA da {{ $json.companyName }}.\n\nGere UMA mensagem de WhatsApp personalizada para prospecção B2B.\n\n## CONTEXTO DO LEAD:\n- Nome/Empresa: {{ $json.leadContext.business_name || $json.leadContext.name }}\n- Tipo de negócio: {{ $json.leadContext.business_type || 'não informado' }}\n- Cidade: {{ $json.leadContext.city || 'não informada' }}\n- Avaliação Google: {{ $json.leadContext.rating || 'não disponível' }} ({{ $json.leadContext.reviews || '0' }} avaliações)\n- Resumo do site: {{ $json.leadContext.site_summary || 'não disponível' }}\n\n## ESTÁGIO DO FUNIL:\n{{ $json.stage === 'first_touch' ? '1º CONTATO - Primeira abordagem. Seja breve e desperte curiosidade.' : '' }}\n{{ $json.stage === 'follow_up_1' ? '2º CONTATO - Retomando contato. Mencione a mensagem anterior brevemente.' : '' }}\n{{ $json.stage === 'follow_up_2' ? '3º CONTATO - Traga um case ou benefício concreto. Seja mais direto.' : '' }}\n{{ $json.stage === 'follow_up_3' ? '4º E ÚLTIMO CONTATO - Última tentativa. Seja respeitoso e ofereça encerrar.' : '' }}\n\n## REGRAS OBRIGATÓRIAS:\n1. Máximo 3 frases curtas\n2. Tom conversacional e humano (não robótico)\n3. Se tiver dados do lead (tipo negócio, cidade, rating), USE-OS para personalizar\n4. NÃO inclua opções de resposta no texto (botões serão adicionados automaticamente)\n5. NÃO use emojis excessivos (máximo 2)\n6. NÃO mencione 'automação de WhatsApp' diretamente\n7. Foque em RESULTADOS: economia de tempo, mais vendas, menos trabalho manual\n8. Termine com uma pergunta aberta que convide à interação\n\n## EXEMPLOS DE TOM:\n- BOM: \"Oi! Vi que a Clínica Sorriso tem ótimas avaliações em Fortaleza. Trabalho com soluções que ajudam clínicas a atender mais pacientes sem aumentar a equipe. Posso te mostrar como funciona?\"\n- RUIM: \"Olá! Sou a Ana da Empresa X e gostaria de apresentar nossos serviços de automação...\"\n\nGere APENAS a mensagem, sem explicações ou opções de resposta.",
        "hasOutputParser": false
      },
      "id": "ai-agent-generate",
      "name": "Gera Mensagem IA",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -320,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "// Limpa e formata a mensagem gerada pela IA\nlet mensagem = $input.first().json.text || $input.first().json.response || '';\n\n// Remove aspas extras se houver\nmensagem = mensagem.replace(/^\"|\"$/g, '').trim();\n\n// Remove qualquer opção numerada que a IA tenha incluído por engano\nmensagem = mensagem.replace(/\\n*[1-3][️⃣.)].*/g, '').trim();\n\n// Pega contexto anterior\nconst ctx = $('Prepara Contexto IA').item.json;\n\n// Define botões baseado no estágio\nconst isFirstTouch = ctx.stage === 'first_touch';\nconst isLastTouch = ctx.stage === 'follow_up_3';\n\nlet buttonRows = [];\n\nif (isFirstTouch) {\n  buttonRows = [\n    { title: 'Sim, quero saber mais', description: 'Me conte como funciona', rowId: 'interesse_sim_' + ctx.leadId },\n    { title: 'Talvez depois', description: 'Não é o momento', rowId: 'interesse_depois_' + ctx.leadId },\n    { title: 'Não tenho interesse', description: 'Não quero receber msgs', rowId: 'optout_' + ctx.leadId }\n  ];\n} else if (isLastTouch) {\n  buttonRows = [\n    { title: 'Sim, vamos conversar', description: 'Quero agendar', rowId: 'interesse_sim_' + ctx.leadId },\n    { title: 'Não, obrigado', description: 'Encerrar contato', rowId: 'optout_' + ctx.leadId }\n  ];\n} else {\n  buttonRows = [\n    { title: 'Sim, me conta mais', description: 'Tenho interesse', rowId: 'interesse_sim_' + ctx.leadId },\n    { title: 'Agora não', description: 'Outro momento', rowId: 'interesse_depois_' + ctx.leadId },\n    { title: 'Não, obrigado', description: 'Não quero receber', rowId: 'optout_' + ctx.leadId }\n  ];\n}\n\nreturn [{\n  json: {\n    mensagem,\n    whatsapp: ctx.whatsapp,\n    whatsapp_formatado: ctx.whatsapp_formatado,\n    leadId: ctx.leadId,\n    currentStatus: ctx.currentStatus,\n    nextStatus: ctx.nextStatus,\n    stageNumber: ctx.stageNumber,\n    buttonRows,\n    agentName: ctx.agentName,\n    companyName: ctx.companyName\n  }\n}];"
      },
      "id": "format-message",
      "name": "Formata Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        1088
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.apiURL }}/message/sendList/{{ $('Dados').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.whatsapp }}\",\n  \"title\": \"{{ $json.companyName || 'CoreConnect' }}\",\n  \"description\": {{ JSON.stringify($json.mensagem) }},\n  \"buttonText\": \"📋 Responder\",\n  \"footerText\": \"{{ $json.agentName || 'Frank' }} • {{ $json.companyName || 'CoreConnect' }}\",\n  \"sections\": [\n    {\n      \"title\": \"Escolha uma opção\",\n      \"rows\": {{ JSON.stringify($json.buttonRows) }}\n    }\n  ],\n  \"delay\": 2000\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "send-message",
      "name": "Envia Lista Interativa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        1088
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Formata Mensagem').item.json.whatsapp }}@s.whatsapp.net",
            "message": "={{ JSON.stringify({ type: 'ai', content: $('Formata Mensagem').item.json.mensagem, tool_calls: [], additional_kwargs: {}, response_metadata: {} }) }}"
          }
        },
        "options": {}
      },
      "id": "save-chat-history",
      "name": "Salva Histórico",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        368,
        1088
      ],
      "credentials": {
        "postgres": {
          "id": "HCvX4Ypw2MiRDsdm",
          "name": "Postgres | CoreConnect"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Formata Mensagem').item.json.leadId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|status",
              "statusValue": "={{ $('Formata Mensagem').item.json.nextStatus }}"
            },
            {
              "key": "Data do último disparo|date",
              "date": "={{ $now }}",
              "timezone": "America/Sao_Paulo"
            },
            {
              "key": "WhatsApp|phone_number",
              "phoneValue": "={{ $('Formata Mensagem').item.json.whatsapp_formatado }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-notion",
      "name": "Atualiza Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        592,
        1088
      ],
      "credentials": {
        "notionApi": {
          "id": "scQiezJ9I3bkqgcl",
          "name": "Notion | CoreConnect"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 60) + 80 }}",
        "unit": "seconds"
      },
      "id": "delay-between",
      "name": "Delay 80-140s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        1088
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 Fluxo de Disparo com IA v2\n\n**Melhorias:**\n1. ✅ Mensagens personalizadas via IA (gpt-4.1-mini)\n2. ✅ Usa contexto do lead (negócio, cidade, rating)\n3. ✅ **List Buttons** interativos (mais estáveis)\n4. ✅ Botão opt-out obrigatório (evita ban)\n5. ✅ Único caminho (sem variações manuais)\n6. ✅ Credenciais padronizadas CoreConnect",
        "height": 200,
        "width": 400,
        "color": 4
      },
      "id": "sticky-header",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2800,
        960
      ]
    },
    {
      "parameters": {
        "content": "## ⚙️ CONFIGURAR AQUI\n\n- `instancia`: Nome da instância Evolution\n- `apikey`: API Key da Evolution\n- `qtdDisparos`: Limite por execução\n- `diasFollow`: Intervalo entre follow-ups\n- `notionDB`: ID do banco Notion\n- `agentName`: Nome do agente (Frank)\n- `companyName`: Nome da empresa",
        "height": 280,
        "width": 220,
        "color": 6
      },
      "id": "sticky-config",
      "name": "Config",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2608,
        1096
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Puxa todos os leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxa todos os leads": {
      "main": [
        [
          {
            "node": "Filtra leads ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra leads ativos": {
      "main": [
        [
          {
            "node": "Limita Qtde Envios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limita Qtde Envios": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        null,
        [
          {
            "node": "Normaliza Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Telefone": {
      "main": [
        [
          {
            "node": "Valida WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida WhatsApp": {
      "main": [
        [
          {
            "node": "Tem WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem WhatsApp?": {
      "main": [
        [
          {
            "node": "Passou intervalo?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Desqualifica Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desqualifica Lead": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passou intervalo?": {
      "main": [
        [
          {
            "node": "Prepara Contexto IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Contexto IA": {
      "main": [
        [
          {
            "node": "Gera Mensagem IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gera Mensagem IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gera Mensagem IA": {
      "main": [
        [
          {
            "node": "Formata Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Mensagem": {
      "main": [
        [
          {
            "node": "Envia Lista Interativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Lista Interativa": {
      "main": [
        [
          {
            "node": "Salva Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva Histórico": {
      "main": [
        [
          {
            "node": "Atualiza Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Notion": {
      "main": [
        [
          {
            "node": "Delay 80-140s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay 80-140s": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-05T20:00:00.000Z",
  "versionId": "v2-ai-personalized"
}
